body {
  background-color: rgb(245, 245, 245);
  font-family: 'Signika', sans-serif;
  line-height: 1.5;
}

h1 {
  font-family: 'Ranga', sans-serif;
}

.main-container {
  width: 90%;
  text-align: center;
  margin: auto;
}

img {
  width: 100%;
}

.bold {
  font-weight: bold;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*--- HEADER ---*/
section img {
  width: 70%;
  margin-bottom: 1.2rem;
}

h1, h2, h3, a, .backToTop {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

p, span{
  color: rgb(120, 120, 120);
}

header h1 {
  margin: 1.5rem 0;
  font-size: 1.6rem;
}

nav h2 a {
  display: block;
  background-color: white;
  padding: 0.8rem;
  margin-bottom: 0.5rem;
}

section {
  margin: 2.5rem 0;
}

/* --- MAIN SECTION --- */
main h2, footer h3 {
  padding: 3rem 0 3rem 0;
}

figcaption p {
  margin: 1rem 0 2rem 0;
}

.projects figure:hover {
  background-color: rgb(230, 230, 230);
  box-shadow: 0 0 20px rgba(0,0,0,0.5);

  transition: background-color 0.4s;
  transition: box-shadow 0.4s;
}

figure {
  border-radius: 4px;
}

figure img {
  margin-bottom: 1rem;
  border-radius: 4px 4px 0 0;
}

main {
  background-color: white;
  padding-bottom: 1rem;
}

/*--- FOOTER ---*/
footer p {
  padding-bottom: 1rem;
}

address div {
  padding: 0.5rem 0;
}

.backToTop {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(210, 210, 210);
  margin-top: 2rem;
  padding: 1.5rem 0;
}

.backToTop span {
  color: black;
}

.footerNav {
  display: none;
}

/*--- PSEUDO-CLASS ---*/
a:hover {
  color: skyblue;
}

/*--- MEDIA 768px ---*/
@media only screen and (min-width: 768px) {
  nav {
    display: flex;
    justify-content: center;
  }
  nav h2 {
    margin: 0 0.5rem;
  }
  nav h2 a {
    background-color: rgb(245, 245, 245);
  }

  section p {
    text-align: left;
  }

  section img {
    float: right;
    width: 40%;
    margin-left: 1rem;
  }

  figure {
    width: 49%;
    margin: 0.5rem auto;
  }

  footer p {
    margin: auto;
    width: 75%;
  }

  .portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footerNav {
    display: flex;
    justify-content: space-between;
  }

  .footerMobile {
    display: none;
  }

  footer nav span {
    margin-left: 2rem;
  }
}

/*--- MEDIA 1024px ---*/
@media only screen and (min-width: 1024px) {
  .navigationBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  main {
    width: 95%;
    margin: auto;
  }

  figure {
    width: 32%;
  }
}
