body {
  background-color: rgb(245, 245, 245);
  font-family: Helvetica;
  line-height: 1.5;
}

.main-container {
  width: 90%;
  text-align: center;
  margin: auto;
}

img {
  width: 100%;
}

.bold {
  font-weight: bold;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/*--- HEADER ---*/
section img {
  width: 70%;
  margin-bottom: 1.2rem;
}

h1, h2, h3, a, .backToTop {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

p, span{
  color: rgb(120, 120, 120);
}

header h1 {
  margin: 1.5rem 0;
  font-size: 1.6rem;
}

/*nav h2 {
  background-color: white;
  padding: 0.8rem;
  margin-bottom: 0.5rem;
}*/

nav h2 a {
  display: block;
  background-color: white;
  padding: 0.8rem;
  margin-bottom: 0.5rem;
}

section {
  margin: 2.5rem 0;
}

/* --- MAIN SECTION --- */
main h2, footer h3 {
  padding: 3rem 0 3rem 0;
}

figcaption p {
  padding: 1rem 0 2rem 0;
}

figure img {
  margin-bottom: 1rem;
}

main {
  background-color: white;
}

/*--- FOOTER ---*/
footer p {
  padding-bottom: 1rem;
}

address div {
  padding: 0.5rem 0;
}

.backToTop {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(210, 210, 210);
  margin-top: 2rem;
  padding: 1.5rem 0;
}

.backToTop span {
  color: black;
}

/*--- PSEUDO-CLASS ---*/
a:hover {
  color: skyblue;
}

/*--- MEDIA ---*/
@media only screen and (min-width: 768px) {
  nav {
    display: flex;
    justify-content: center;
  }
  nav h2 {
    margin: 0 0.5rem;
  }
  nav h2 a {
    background-color: rgb(245, 245, 245);
  }

  section p {
    text-align: left;
  }

  section img {
    float: right;
    width: 40%;
    margin-left: 1rem;
  }
}
